// Colors
$background: #2d2a2e;
$default: #caf0e9;
$white: #fff;
$red: #ED017F; //#e60058;
$green: #0CFF46; //#6ef990;
//$green2: #09dc3e;
$blue: #09FFFF; //#05dbf5;
//$blue2:  #09FFFF;//#57F0F8; //#93B6E1; //#21edfc;
$purple: #B84CFF; //#A37BD8; //#9220c5;
$pink: #FB70FF;
$orange: #FDCB59; //#F5A51A;//#ffd866;
$qrcolor: #6ef990;

%is-red {
    background-color: transparent;
    border: 3px solid $red;
    //border: 3px solid #fff;
    border-radius: none;
    color: $red;

    &.fill {
        background-color: $red;
        color: $background;
    }

    &.is-light {
        color: $white;
    }

    &.has-glow {
        text-shadow: 0 0 3px $red;
        box-shadow: 0 0 3px $red;
    }
}

%is-white {
    background-color: transparent;
    border: 3px solid $white;
    //border: 3px solid #fff;
    border-radius: none;
    color: $white;

    &.fill {
        background-color: $white;
        color: $background;
    }

    &.is-light {
        color: $white;
    }

    &.has-glow {
        text-shadow: 0 0 3px $white;
        box-shadow: 0 0 3px $white;
    }
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

.qrCodeBlock {
    position: relative;
    display: block;
    max-width: 100%;
    overflow: hidden;

    .qrCode {
        display: block;
        font-size: 8px;
        /* change the size of this to see how ralph will scale up or down */
        height: 1em;
        width: 1em;
        margin: 0 0em 1em 0;
        //float: left;
        box-shadow: #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor,
        #{randomNum(0, 50)}em #{randomNum(0, 1)}em $qrcolor;
    }
}